[general]
version=1.0
sendLogs=2me@pavelk.ru
lastUpdated=123

[info]
platform=linux
uuid=1239sdf124e

[servers]
main="http://suvenirus.dev/updatemanager/"

[installed]
packetA="0"
packetB="0"
packetC="0"
packetD="0"

[packetA:0]
path="tests/packetA.txt"

[packetB:0]
path="tests/packetB.txt"

[packetC:0]
path="tests/packetC.txt"

[packetD:0]
path="tests/packetD.txt"