[General]
defaultInstPath=tests
lastUpdated=07.08.19 01:23
sendLogs=
tempDir=./updateCache/
runAfter=
runAfter-workingDir=
version=1.2
downloadStreams=2
downloadAttempts=5

[servers]
main=http://suvenirus.dev/updatemanager/linux/

[info]
platform=linux
uuid=1239sdf124e

[installed]
packetA=0.0
packetB=0.0
packetC=0.0
packetD=0.0

[packetA:0.0]
instPath=tests
instType=asManual

[packetB:0.0]
instPath=tests
instType=asManual

[packetC:0.0]
instPath=tests
instType=asManual

[packetD:0.0]
instPath=tests
instType=asManual
